.contentUserAgreement {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
}
.contentUserAgreement_content {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contentUserAgreement_content_block {
    padding: 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentUserAgreement_content_time {
    font-size: 16px;
}
.contentUserAgreement_content_title {
    font-size: 30px;
}
.contentUserAgreement_content_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentUserAgreement_content_content_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentUserAgreement_content_content_item_title {
    font-size: 22px;
    line-height: 1.3em;
    padding: 10px 0;
}
.contentUserAgreement_content_content_item_texts {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentUserAgreement_content_content_item_texts_item_subpoints,
.contentUserAgreement_content_content_item_texts_item_list
{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentUserAgreement_content_content_item_texts_item,
.contentUserAgreement_content_content_item_texts_item_subpoints_item,
.contentUserAgreement_content_content_item_texts_item_list_item {
    font-size: 18px;
    line-height: 1.3em;
}
.contentUserAgreement_content_content_item_texts_item_list_item {
    margin-left: 20px;
}
@media ( min-width: 1900px ) {
    .contentUserAgreement_content_block {
        max-width: 1500px;
    }
    .contentUserAgreement_content_time {
        font-size: 18px;
    }
    .contentUserAgreement_content_title {
        font-size: 36px;
    }
    .contentUserAgreement_content_content_item_title {
        font-size: 26px;
    }
    .contentUserAgreement_content_content_item_texts_item,
    .contentUserAgreement_content_content_item_texts_item_subpoints_item,
    .contentUserAgreement_content_content_item_texts_item_list_item {
        font-size: 22px;
        line-height: 1.5em;
    }
}
@media ( max-width: 1899px ) {
    .contentUserAgreement_content_block {
        max-width: 1200px;
    }
}
@media ( max-width: 767px ) {
    .contentUserAgreement_content_block {
        padding: 20px 0;
        max-width: 100%;
    }
    .contentUserAgreement_content_time {
        font-size: 16px;
    }
    .contentUserAgreement_content_title {
        font-size: 24px;
    }
    .contentUserAgreement_content_content_item_title {
        font-size: 22px;
    }
    .contentUserAgreement_content_content_item_texts_item,
    .contentUserAgreement_content_content_item_texts_item_subpoints_item,
    .contentUserAgreement_content_content_item_texts_item_list_item {
        font-size: 18px;
    }
}
@media ( max-width: 390px ) {   
    .contentUserAgreement_content_time {
        font-size: 14px;
    }
    .contentUserAgreement_content_title {
        font-size: 22px;
    }
    .contentUserAgreement_content_content_item_title {
        font-size: 20px;
    }
    .contentUserAgreement_content_content_item_texts_item,
    .contentUserAgreement_content_content_item_texts_item_subpoints_item,
    .contentUserAgreement_content_content_item_texts_item_list_item {
        font-size: 16px;
    }
}