.moduleCard_content {
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 15px;
    cursor: pointer;
    padding: 10px 15px;
    height: 80px;
    border-radius: 15px;
    box-sizing: border-box;
}
.moduleCard_content:hover {
    background: linear-gradient(135deg, #F8855B20, #E5613120);
}
.moduleCard_content.active {
    background: linear-gradient(135deg, #F8855B10, #E56131);
}
.moduleCard_content_item.image {
    height: 60px;
    /* overflow: hidden; */
    width: min-content;
    max-width: 77.5px;
}
.moduleCard_content_item.image img {
    height: 100%;
    width: auto;
    object-fit: contain;
    pointer-events: none;
}
.moduleCard_content_item.name {
    font-size: 16px;
    text-align: left;
    text-overflow: ellipsis;
    overflow: hidden;
}
@media ( min-width: 1900px ) {}
@media ( max-width: 1170px ) {
    .moduleCard_content.web {
        height: 100%;
    }
}
@media ( max-width: 767px ) {
    .moduleCard_content.web {
        height: 80px;
    }
}
@media ( max-width: 650px ) {
    .moduleCard_content.web {
        height: 100%;
    }
    .moduleCard_content {
        flex-direction: column;
        height: 100%;
        padding: 10px 20px;
    }
    .moduleCard_content_item.name {
        text-align: center;
        overflow: visible;
        text-overflow: clip;
    }
}
@media ( max-width: 570px ) {
    .moduleCard_content {
        padding: 10px 15px;
    }
}
@media ( max-width: 390px ) {}

/*
@media ( min-width: 1900px ) {
    .moduleCard_content {
        height: 300px;
    }
    .moduleCard_content_item.image {
        height: 150px;
    }
    .moduleCard_content_item.name {
        font-size: 22px;
    }
}
@media ( max-width: 1170px ) {
    .moduleCard_content {
        height: 200px;
    }
    .moduleCard_content.web {
        height: 100%;
    }
}
@media ( max-width: 390px ) {
    .moduleCard_content,
    .moduleCard_content.web
    {
        height: 170px;
    }
} */