/* DARK STYLES */
.landing_page.dark {
    /* background-color: #131B25; */
    background: linear-gradient(to right, #0F1620, #09121C, #060D15);
}
.landing_page.dark .header {
    background-color: #131B2570;
}
.landing_page.dark .footer,
.landing_page.dark .adminPanelLoginForm_content_form,
.landing_page.dark .adminPanel_layout_sidebar,
.landing_page.dark .adminPanel_layout_sidebar.hidden #adminPanel_layout_sidebar_hidden_btn,
.landing_page.dark .text-editor_toolbar
{
    background-color: #161E29;
}
.landing_page.dark .baseModules_content_slides,
.landing_page.dark .preview_content,
.landing_page.dark .news_content_cards_item,
.landing_page.dark .modileNews_content_cards_item,
.landing_page.dark .allArticlesContent_content_cards_item
{
    background-color: #1F2227;
}
.landing_page.dark .qrcode_content_qr {
    background-color: #1F222770;
}
.landing_page.dark .header_content_menu_item,
.landing_page.dark .home_content_item_info,
.landing_page.dark .header_content_btns_item.lang,
.landing_page.dark .home_content_item_info_btns_item.demo,
.landing_page.dark .home_content_item_info_btns_item.tutorial,
.landing_page.dark .mobile_menu_btns_item.lang,
.landing_page.dark .baseModules_content_titles span,
.landing_page.dark .about_modules_content_modules_main_item_text,
.landing_page.dark .moduleCard_content_item.name,
.landing_page.dark .moduleSlide_info h2,
.landing_page.dark .moduleSlide_info p,
.landing_page.dark .structure_content_title,
.landing_page.dark .structure_content_roles_item_text span,
.landing_page.dark .structure_content_roles_roles_title,
.landing_page.dark .structure_content_roles_roles_item_text,
.landing_page.dark .structure_content_tasks_item_text,
.landing_page.dark .structure_content_tasks_item_image span,
.landing_page.dark .structure_content_tasks_item_tasks_item,
.landing_page.dark .cardProgram_info_item,
.landing_page.dark .whyNecessary_content_title,
.landing_page.dark .whyNecessary_content_description,
.landing_page.dark .necessary_card_info_text,
.landing_page.dark .risks-list li,
.landing_page.dark .risks-list-text,
.landing_page.dark .description-text,
.landing_page.dark .preview_content_info_title,
.landing_page.dark .news_content_title,
.landing_page.dark .news_content_cards_item_title,
.landing_page.dark .modileNews_content_cards_item_info_title,
.landing_page.dark .structure_content_roles_arrows_item_text span,
.landing_page.dark .structure_content_tasks_arrows_text,
.landing_page.dark .contentArticle_content_article_content_title,
.landing_page.dark .contentArticle_content_article_content_parags_item,
.landing_page.dark .news_content_btn_link,
.landing_page.dark .allArticlesContent_content_title,
.landing_page.dark .allArticlesContent_content_cards_item_title,
.landing_page.dark .allArticlesContent_content_cards_item_texts_item,
.landing_page.dark .allArticlesContent_content_title_item,
.landing_page.dark .clients_content_title,
.landing_page.dark .structure_content_roles_item_text_info,
.landing_page.dark .formRequest_content_form_title,
.landing_page.dark .formRequest_content_form_inputs_item_input,
.landing_page.dark .formRequest_content_form_btn.active button span,
.landing_page.dark .formRequest_content_form_checkbox_div,
.landing_page.dark .formRequest_content_form_checkbox_label,
.landing_page.dark .blockForForm_content_title,
.landing_page.dark .blockForForm_content_description,
.landing_page.dark .blockForForm_content_inputs_item_input,
.landing_page.dark .blockForForm_content_checks_div,
.landing_page.dark .blockForForm_content_checks_label,
.landing_page.dark .blockForForm_content_checks_button.active button span,
.landing_page.dark .trust_content_line_text,
.landing_page.dark .trustCard_text,
.landing_page.dark .baseModules_content_main_description,
.landing_page.dark .downloadClient_content_title,
.landing_page.dark .contact_data_item_text,
.landing_page.dark .download_client_text,
.landing_page.dark .specifications_item_text,
.landing_page.dark .specifications_item_value,
.landing_page.dark .whyDMTBase_content_title,
.landing_page.dark .whyDMTBase_content_cards_item_text,
.landing_page.dark .contentPrivatePolicy_content_title,
.landing_page.dark .contentUserAgreement_content_title,
.landing_page.dark .contentPrivatePolicy_content_content_title,
.landing_page.dark .contentUserAgreement_content_content_item_title,
.landing_page.dark .contentPrivatePolicy_content_content_texts_item,
.landing_page.dark .contentUserAgreement_content_content_item_texts_item,
.landing_page.dark .contentUserAgreement_content_content_item_texts_item_subpoints_item,
.landing_page.dark .contentUserAgreement_content_content_item_texts_item_list_item,
.landing_page.dark .adminPanelLoginForm_content_title_one,
.landing_page.dark .adminPanelLoginForm_content_form_input input,
.landing_page.dark .adminPanel_layout_sidebar_logo span,
.landing_page.dark .adminPanel_layout_sidebar_menu_item.active span,
.landing_page.dark .adminPanel_layout_content_home_header_title,
.landing_page.dark .adminPanel_layout_content_home_header_text,
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item_info_count_value span,
.landing_page.dark .contentCompany_content_title,
.landing_page.dark .contentCompany_content_description_item,
.landing_page.dark .contentCompany_content_contacts_title,
.landing_page.dark .contentCompany_content_contacts_points_item_name,
.landing_page.dark .contentCompany_content_contacts,
.landing_page.dark .contentCompany_content_contacts_points_item_value,
.landing_page.dark .adminPanel_layout_content_home_static_graph_header_item,
.landing_page.dark .adminPanel_layout_content_home_static_popular_header_item:not(.link),
.landing_page.dark .adminPanel_layout_content_home_static_popular_cards_item_number,
.landing_page.dark .adminPanel_layout_content_home_static_popular_cards_item_info_title,
.landing_page.dark .adminPanel_layout_content_articles_header_title,
.landing_page.dark .adminPanel_layout_content_articles_header_btns_item.search input,
.landing_page.dark .adminPanel_layout_content_articles_table_tools_choose_spans,
.landing_page.dark .col,
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_name_div_info_span,
.landing_page.dark .dropdown_button,
.landing_page.dark .dropdown-item,
.landing_page.dark .modal_text,
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_thead_tr .ad_col,
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr:hover .ad_col,
.landing_page.dark .editing_content_title,
.landing_page.dark .adminPanelEditor_content_header_title,
.landing_page.dark .text-editor_split_right,
.landing_page.dark .views-chart-title
{
    color: #fff;
}
.landing_page.dark #mobile_menu,
.landing_page.dark .preview_content_info_text,
.landing_page.dark .footer_content_item_top_menu_item,
.landing_page.dark .footer_content_item_bottom_item_link,
.landing_page.dark .news_content_cards_item_time,
.landing_page.dark .modileNews_content_cards_item_info_time,
.landing_page.dark .news_content_cards_item_texts_item,
.landing_page.dark .modileNews_content_cards_item_info_texts_item,
.landing_page.dark .contentArticle_content_article_content_time,
.landing_page.dark .allArticlesContent_content_cards_item_time,
.landing_page.dark .download_client_block_data_item_text,
.landing_page.dark .contentPrivatePolicy_content_time,
.landing_page.dark .contentUserAgreement_content_time,
.landing_page.dark .adminPanelLoginForm_content_form_input input::placeholder,
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item_info_title,
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item_info_text,
.landing_page.dark .adminPanel_layout_content_home_static_popular_cards_item_info_views,
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_name_div_info_link,
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_time_span,
.landing_page.dark .dropdown_label,
.landing_page.dark .editing_content_form_input_div span.period,
.landing_page.dark .adminPanelEditor_content_description
{
    color: #fff5;
}
.landing_page.dark .formRequest_content_form_description,
.landing_page.dark .formRequest_content_form_inputs_item_input::placeholder,
.landing_page.dark .blockForForm_content_inputs_item_input::placeholder,
.landing_page.dark .adminPanel_layout_sidebar_menu_item:not(.active) span
{
    color: #fff7;
}
.landing_page.dark .home_content_item_info_text {
    color: #fff;
}
.landing_page.dark .footer_content_item_bottom_item.copyright {
    color: #ffffff15;
}
.landing_page.dark .mobile_menu_item {
    background-color: #ffffff10;
    color: #fff;
}
.landing_page.dark .baseModules_prev img,
.landing_page.dark .baseModules_next img {
    filter: invert(0%);
}
/* .landing_page.dark .baseModules_content_main_line {
    border-top: 1px dashed #fff9;
}
.landing_page.dark .baseModules_content_main_line.left {
    border-left: 1px dashed #fff9;
}
.landing_page.dark .baseModules_content_main_line.right {
    border-right: 1px dashed #fff9;
} */
.landing_page.dark .baseModules_content_main_line.left {
    background: linear-gradient(to right, #fff0 15%, #fff5);
}
.landing_page.dark .baseModules_content_main_line.right {
    background: linear-gradient(to left, #fff0 15%, #fff5);
}
.landing_page.dark .structure_content_roles,
.landing_page.dark .structure_content_tasks,
.landing_page.dark .necessary_card
{
    background-color: #131B2550;
}
.landing_page.dark .structure_content_roles_arrows_item_text span.round {
    border: 1px solid #fff5;
}
.landing_page.dark .structure_content_roles_arrows_item.top .structure_content_roles_arrows_item_arrow {
    background: linear-gradient(to right, #fff0, #fff);
}
.landing_page.dark .structure_content_roles_arrows_item.bottom .structure_content_roles_arrows_item_arrow {
    background: linear-gradient(to left, #fff0, #fff);
}
.landing_page.dark .structure_content_tasks_arrows_arrows_item.one {
    background: linear-gradient(to left, #fff0, #fff);
}
.landing_page.dark .structure_content_tasks_arrows_arrows_item.two {
    background: linear-gradient(to right, #fff0, #fff);
}
.landing_page.dark .structure_content_roles_arrows_item_arrow::before,
.landing_page.dark .structure_content_roles_arrows_item_arrow::after,
.landing_page.dark .structure_content_tasks_item_tasks_item::before,
.landing_page.dark .structure_content_tasks_arrows_arrows_item::before,
.landing_page.dark .structure_content_tasks_arrows_arrows_item::after
{
    background-color: #fff;
}
.landing_page.dark .structure_content_roles_roles_item.message {
    border-left: 1px solid #fff4;
    border-right: 1px solid #fff4;
}
.landing_page.dark .necessary_card.active .necessary_card_front {
    border-bottom: 1px solid #fff2;
}
.landing_page.dark .necessary_card_back {
    border-top: 1px solid #fff1;
}
@media ( max-width: 1170px ) {
    .landing_page.dark .structure_content_tasks_arrows_arrows_item.one {
        background: linear-gradient(to top, #fff0, #fff);
    }
    .landing_page.dark .structure_content_tasks_arrows_arrows_item.two {
        background: linear-gradient(to bottom, #fff0, #fff);
    }
}
@media ( max-width: 1000px ) {
    .landing_page.dark .structure_content_roles_arrows_item.top .structure_content_roles_arrows_item_arrow {
        background: linear-gradient(to bottom, #fff0, #fff);
    }
    .landing_page.dark .structure_content_roles_arrows_item.bottom .structure_content_roles_arrows_item_arrow {
        background: linear-gradient(to top, #fff0, #fff);
    }
}
@media ( max-width: 670px ) {
    .landing_page.dark .structure_content_roles_roles_item.message {
        border-left: none;
        border-right: none;
        border-top: 1px solid #fff4;
        border-bottom: 1px solid #fff4;
    }
}
.landing_page.dark .cardProgram {
    background-color: #131B2550;
}
.landing_page.dark .header_content::before {
    background: linear-gradient(to right, #fff0, #fff5, #fff0);
}
.landing_page.dark .article-layout-wrapper {
    background-color: #17202c;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
}
.landing_page.dark .clientCard.MP-3 {
    filter: invert(100%);
}
.landing_page.dark .formRequest_content_form {
    background-color: #131B2550;
}
.landing_page.dark .formRequest_content_form_inputs_item,
.landing_page.dark .blockForForm_content_inputs_item
{
    border: 2px solid #fff2;
}
.landing_page.dark .formRequest_content_form_btn.noactive button,
.landing_page.dark .blockForForm_content_checks_button.noactive button
{
    background-color: #6e6e6e;
    border: 2px solid #6e6e6e;
}
.landing_page.dark .formRequest_content_form_btn.noactive button:hover,
.landing_page.dark .blockForForm_content_checks_button.noactive button:hover
{
    background-color: #575757;
    border: 2px solid #575757;
}
.landing_page.dark .formRequest_content_form_btn.noactive button span,
.landing_page.dark .blockForForm_content_checks_button.noactive button span
{
    color: #fff5;
}
.landing_page.dark .formRequest_content_form_inputs_item_error,
.landing_page.dark .blockForForm_content_inputs_item_error
{
    background-color: #1c2633;
}
.landing_page.dark .baseModules_content_titles_comment_line span {
    background-color: #fff5;
}
.landing_page.dark .trust_content_line {
    background-color: #ffffff10;
}
.landing_page.dark .trust_content_line_text_line {
    background-color: #fff3;
}
.landing_page.dark .trust_content_line::before {
    background: linear-gradient(to right, #0F1620 30%, #0F162000 100%);
}
.landing_page.dark .trust_content_line::after {
    background: linear-gradient(to left, #0F1620 30%, #0F162000 100%);
}
.landing_page.dark .downloadClient_content_line {
    background: linear-gradient(to bottom, #fff0, #fff5, #fff0);
}
@media ( max-width: 980px ) {
    .landing_page.dark .downloadClient_content_line.two {
        background: linear-gradient(to right, #fff0, #fff5, #fff0);
    }
}
@media ( max-width: 720px ) {
    .landing_page.dark .downloadClient_content_line.one {
        background: linear-gradient(to right, #fff0, #fff5, #fff0);
    }
}
.landing_page.dark .download_client_block_data_item_count,
.landing_page.dark .specifications_item_value {
    background-color: #fff1;
    color: #fff;
}
.landing_page.dark .whyDMTBase_content_cards_item {
    background-color: #161E29;
}
.landing_page.dark .adminPanelLoginForm_content_form_input input {
    background-color: #fff2;
}
@media ( hover: hover) {
    .landing_page.dark .adminPanel_layout_sidebar_menu_item:hover {
        background-color: #252E3B;
    }
}
@media ( hover: active) {
    .landing_page.dark .adminPanel_layout_sidebar_menu_item:active {
        background-color: #252E3B;
    }
}
.landing_page.dark .adminPanel_layout_sidebar_menu_item.active {
    background-color: #252E3B;
}
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item,
.landing_page.dark .adminPanel_layout_content_home_static_graph,
.landing_page.dark .adminPanel_layout_content_home_static_popular
{
    background-color: #16202D;
}
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item_image_span.admin_views {
    background-color: #E5613128;
}
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item_image_span.admin_articles {
    background-color: #B7ACE028;
}
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item_image_span.admin_users {
    background-color: #5BACEA28;
}
.landing_page.dark .adminPanel_layout_content_home_brief_summary_item_image_span.admin_times {
    background-color: #BBC9DC28;
}
.landing_page.dark .adminPanel_layout_content_home_static_graph_header_item.select,
.landing_page.dark .views-chart-select
{
    border: 1px solid #fff5;
    color: #fff7;
}
.landing_page.dark .adminPanel_layout_content_home_static_graph_header_item.select option,
.landing_page.dark .views-chart-select option
{
    background-color: #16202D;
    color: #fff8;
}
.landing_page.dark .adminPanel_layout_content_home_static_popular_cards_item:hover {
    background-color: #ffffff07;
}
.landing_page.dark .adminPanel_layout_content_home_static_popular_cards_item_number {
    background-color: #1E2837;
}
.landing_page.dark .adminPanel_layout_content_home_static_popular_cards_item:not(:last-child)::before {
    background: linear-gradient(to right, #fff0, #fff5, #fff0);
}
.landing_page.dark .adminPanel_layout_content_articles_header_btns_item.search,
.landing_page.dark .adminPanel_layout_content_articles_table,
.landing_page.dark .adminPanel_layout_content_articles_table_checkbox_btn:not(.checked),
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button:not(.disabled),
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div_link,
.landing_page.dark .adminPanel_layout_content_admins_table,
.landing_page.dark .adminPanel_layout_content_articles_header_btn,
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:not(.delete)
{
    border: 1px solid #fff3;
}
.landing_page.dark .adminPanel_layout_content_articles_header_btns_item.search input::placeholder {
    color: #fff3;
}
.landing_page.dark .adminPanel_layout_content_articles_table_layout_thead,
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_thead
{
    background-color: #19212A;
}
@media ( hover: hover ) {
    .landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button:not(.disabled):hover,
    .landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div_link:hover,
    .landing_page.dark .adminPanel_layout_content_articles_header_btn:hover
    {
        background-color: #fff2;
    }
}
@media ( hover: active ) {
    .landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button:not(.disabled):active,
    .landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div_link:active,
    .landing_page.dark .adminPanel_layout_content_articles_header_btn:active
    {
        background-color: #fff2;
    }
}
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button.disabled {
    border: 1px solid #fff1;
}
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_tr:not(:last-child),
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr:not(:last-child)
{
    border-bottom: 1px solid #fff3;
}
.landing_page.dark .dropdown_button {
    border: 1px solid #333;
}
.landing_page.dark .dropdown_button:hover {
    background-color: #0c1624;
    border-color: #555;
}
.landing_page.dark .dropdown_button.active {
    background-color: #2a2a2a;
    border-color: #666;
}
.landing_page.dark .dropdown_menu {
    background-color: #1e1e1e;
    border: 1px solid #333333;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
.landing_page.dark .dropdown-item:hover {
  background-color: #2a2a2a;
}
.landing_page.dark .modal,
.landing_page.dark .editing
{
    background-color: #1C1C1C50;
}
.landing_page.dark .modal_content,
.landing_page.dark .editing_content
{
    background-color: #222a33;
}
.landing_page.dark .modal_btns_item.cancel,
.landing_page.dark .editing_content_form_btns_item.cancel
{
    border: 1px solid #fff5;
    color: #fff5;
}
.landing_page.dark .modal_btns_item.cancel:hover,
.landing_page.dark .editing_content_form_btns_item.cancel:hover
{
    background-color: #fff1;
}
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr_mark_div span {
    background-color: #fff2;
    color: #fff5;
}
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr .ad_col {
    color: #fff7;
}
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr_password_div span {
    background-color: #fff3;
}
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr:hover .adminPanel_layout_content_admins_table_layout_table_tbody_tr_password_div span {
    background-color: #fff7;
}
@media ( hover: hover ) {
    .landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:not(.delete):hover {
        border: 1px solid #fff;
    }
    .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:hover img {
        opacity: 1;
    }
}
@media ( hover: active ) {
    .landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:not(.delete):active {
        border: 1px solid #fff;
    }
    .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:active img {
        opacity: 1;
    }
}
.landing_page.dark .editing_content_header {
    background-color: #2a323b;
}
.landing_page.dark .editing_content_title {
    border-bottom: 1px solid #fff2;
}
.landing_page.dark .editing_content_form input,
.landing_page.dark .editing_content_form_input_div
{
    border: 1px solid #fff3;
    color: #fff;
}
.landing_page.dark .editing_content_form_input label {
    color: #fff5;
    background-color: #222A33;
}
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_online {
    color: #24b97e;
}
.landing_page.dark .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_online:hover {
    color: #24b97e;
}
.landing_page.dark .editing_content_form_btns_item.agree {
    color: #fff;
}
@media ( hover: hover ) {
    .landing_page.dark .editing_content_form_btns_item.agree:hover {
        color: #fff;
    }
}
@media ( hover: active ) {
    .landing_page.dark .editing_content_form_btns_item.agree:active {
        color: #fff;
    }
}
/* editor */
.landing_page.dark .text-editor {
    border: 1px solid #ccc3;
}
.landing_page.dark .text-editor_toolbar button {
    background-color: #fff1;
    color: #fff;
}
.landing_page.dark .text-editor_toolbar button:hover {
    background-color: #fff3;
}
.landing_page.dark .text-editor_toolbar_divider {
    background: #ccc5;
}
.landing_page.dark .text-editor_content {
    color: #fff;
}
.landing_page.dark .text-editor_content .public-DraftEditorPlaceholder-root {
    color: #aaa;
}
.landing_page.dark .text-editor_footer {
    border-top: 1px solid #ccc3;
    background: #161E29;
}
.landing_page.dark .text-editor_footer_btn-cancel {
    background-color: transparent;
    border: 1px solid #fff5;
    color: #fff5;
}
.landing_page.dark .text-editor_footer_btn-cancel:hover {
    background-color: #fff2;
}
.landing_page.dark .editing_content_form_input input.empty {
    border: 1px solid #db4848;
}
.landing_page.dark .editing_content_form_input label.empty,
.landing_page.dark .editing_content_form_input input.empty::placeholder
{
   color: #db4848;
}
.landing_page.dark .text-image-choose:not(.image) {
    border: 1px dashed #fff3;
}
.landing_page.dark .text-image-choose:not(.image) span {
    color: #fff3;
}
.landing_page.dark .text-image-choose:not(.image):hover {
    border: 1px dashed #fff6;
}
.landing_page.dark .text-image-choose:not(.image):hover span {
    color: #fff6;
}
.landing_page.dark .text-editor_split_textarea {
    background: #1e1e1e;
    color: #fff;
}
.landing_page.dark .adminPanel_layout_content_articles_table_layout_tbody_col_name_div_image.noImage {
    background-color: #fff1;
}
.landing_page.dark .contentArticle_content_article_content_time {
    border-bottom: 1px solid #333333;
}







/* LIGHT STYLES */
.landing_page.light {
    background-color: #EDF5FF;
}
.landing_page.light .header {
    background-color: #EDF5FF70;
}
.landing_page.light .footer {
    background-color: #EFEDFF;
}
.landing_page.light .adminPanelLoginForm_content_form,
.landing_page.light .adminPanel_layout_sidebar
{
    background-color: #D7D7E670;
}
.landing_page.light .adminPanel_layout_sidebar.hidden #adminPanel_layout_sidebar_hidden_btn {
    background-color: #E3E7F4;
}
.landing_page.light .baseModules_content_slides,
.landing_page.light .preview_content,
.landing_page.light .news_content_cards_item,
.landing_page.light .modileNews_content_cards_item,
.landing_page.light .article-layout-wrapper,
.landing_page.light .qrcode_content_qr,
.landing_page.light .allArticlesContent_content_cards_item,
.landing_page.light .text-editor_toolbar
{
    background-color: #d7d7e670;
}
.landing_page.light .header_content_menu_item,
.landing_page.light .home_content_item_info,
.landing_page.light .header_content_btns_item.lang,
.landing_page.light .home_content_item_info_btns_item.tutorial,
.landing_page.light .mobile_menu_btns_item.lang,
.landing_page.light .baseModules_content_titles span,
.landing_page.light .moduleCard_content_item.name,
.landing_page.light .moduleSlide_info h2,
.landing_page.light .moduleSlide_info p,
.landing_page.light .structure_content_title,
.landing_page.light .structure_content_roles_item_text span,
.landing_page.light .structure_content_roles_roles_title,
.landing_page.light .structure_content_roles_roles_item_text,
.landing_page.light .structure_content_tasks_item_text,
.landing_page.light .structure_content_tasks_item_image span,
.landing_page.light .structure_content_tasks_item_tasks_item,
.landing_page.light .cardProgram_info_item,
.landing_page.light .whyNecessary_content_title,
.landing_page.light .whyNecessary_content_description,
.landing_page.light .necessary_card_info_text,
.landing_page.light .risks-list li,
.landing_page.light .risks-list-text,
.landing_page.light .description-text,
.landing_page.light .preview_content_info_title,
.landing_page.light .news_content_title,
.landing_page.light .news_content_cards_item_title,
.landing_page.light .modileNews_content_cards_item_info_title,
.landing_page.light .structure_content_roles_arrows_item_text span,
.landing_page.light .structure_content_tasks_arrows_text,
.landing_page.light .contentArticle_content_article_content_title,
.landing_page.light .contentArticle_content_article_content_parags_item,
.landing_page.light .news_content_btn_link,
.landing_page.light .allArticlesContent_content_title,
.landing_page.light .allArticlesContent_content_cards_item_title,
.landing_page.light .allArticlesContent_content_cards_item_texts_item,
.landing_page.light .allArticlesContent_content_title_item,
.landing_page.light .clients_content_title,
.landing_page.light .structure_content_roles_item_text_info,
.landing_page.light .formRequest_content_form_title,
.landing_page.light .formRequest_content_form_inputs_item_input,
.landing_page.light .formRequest_content_form_btn.active button span,
.landing_page.light .formRequest_content_form_checkbox_div,
.landing_page.light .formRequest_content_form_checkbox_label,
.landing_page.light .blockForForm_content_title,
.landing_page.light .blockForForm_content_description,
.landing_page.light .blockForForm_content_inputs_item_input,
.landing_page.light .blockForForm_content_checks_div,
.landing_page.light .blockForForm_content_checks_label,
.landing_page.light .blockForForm_content_checks_button.active button span,
.landing_page.light .trust_content_line_text,
.landing_page.light .trustCard_text,
.landing_page.light .baseModules_content_main_description,
.landing_page.light .downloadClient_content_title,
.landing_page.light .contact_data_item_text,
.landing_page.light .download_client_text,
.landing_page.light .specifications_item_text,
.landing_page.light .specifications_item_value,
.landing_page.light .whyDMTBase_content_title,
.landing_page.light .whyDMTBase_content_cards_item_text,
.landing_page.light .contentPrivatePolicy_content_title,
.landing_page.light .contentUserAgreement_content_title,
.landing_page.light .contentPrivatePolicy_content_content_title,
.landing_page.light .contentUserAgreement_content_content_item_title,
.landing_page.light .contentPrivatePolicy_content_content_texts_item,
.landing_page.light .contentUserAgreement_content_content_item_texts_item,
.landing_page.light .contentUserAgreement_content_content_item_texts_item_subpoints_item,
.landing_page.light .contentUserAgreement_content_content_item_texts_item_list_item,
.landing_page.light .adminPanelLoginForm_content_title_one,
.landing_page.light .adminPanelLoginForm_content_form_input input,
.landing_page.light .adminPanel_layout_sidebar_logo span,
.landing_page.light .adminPanel_layout_sidebar_menu_item.active span,
.landing_page.light .adminPanel_layout_content_home_header_title,
.landing_page.light .adminPanel_layout_content_home_header_text,
.landing_page.light .adminPanel_layout_content_home_brief_summary_item_info_count_value span,
.landing_page.light .contentCompany_content_title,
.landing_page.light .contentCompany_content_description_item,
.landing_page.light .contentCompany_content_contacts_title,
.landing_page.light .contentCompany_content_contacts_points_item_name,
.landing_page.light .contentCompany_content_contacts,
.landing_page.light .contentCompany_content_contacts_points_item_value,
.landing_page.light .adminPanel_layout_content_home_static_graph_header_item,
.landing_page.light .adminPanel_layout_content_home_static_popular_header_item:not(.link),
.landing_page.light .adminPanel_layout_content_home_static_popular_cards_item_number,
.landing_page.light .adminPanel_layout_content_home_static_popular_cards_item_info_title,
.landing_page.light .adminPanel_layout_content_articles_header_title,
.landing_page.light .adminPanel_layout_content_articles_header_btns_item.search input,
.landing_page.light .adminPanel_layout_content_articles_table_tools_choose_spans,
.landing_page.light .col,
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_name_div_info_span,
.landing_page.light .dropdown_button,
.landing_page.light .dropdown-item,
.landing_page.light .modal_text,
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_thead_tr .ad_col,
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr:hover .ad_col,
.landing_page.light .editing_content_title,
.landing_page.light .adminPanelEditor_content_header_title,
.landing_page.light .text-editor_split_right,
.landing_page.light .views-chart-title
{
    color: #1C1C1C;
}
.landing_page.light .home_content_item_info_btns_item.demo,
.landing_page.light .about_modules_content_modules_main_item_text
{
    color: #fff;
}
.landing_page.light #mobile_menu,
.landing_page.light .preview_content_info_text,
.landing_page.light .footer_content_item_top_menu_item,
.landing_page.light .footer_content_item_bottom_item_link,
.landing_page.light .news_content_cards_item_time,
.landing_page.light .modileNews_content_cards_item_info_time,
.landing_page.light .news_content_cards_item_texts_item,
.landing_page.light .modileNews_content_cards_item_info_texts_item,
.landing_page.light .contentArticle_content_article_content_time,
.landing_page.light .allArticlesContent_content_cards_item_time,
.landing_page.light .download_client_block_data_item_text,
.landing_page.light .contentPrivatePolicy_content_time,
.landing_page.light .contentUserAgreement_content_time,
.landing_page.light .adminPanelLoginForm_content_form_input input::placeholder,
.landing_page.light .adminPanel_layout_content_home_brief_summary_item_info_title,
.landing_page.light .adminPanel_layout_content_home_brief_summary_item_info_text,
.landing_page.light .adminPanel_layout_content_home_static_popular_cards_item_info_views,
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_name_div_info_link,
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_time_span,
.landing_page.light .dropdown_label,
.landing_page.light .editing_content_form_input_div span.period,
.landing_page.light .adminPanelEditor_content_description
{
    color: #1C1C1C50;
}
.landing_page.light .formRequest_content_form_description,
.landing_page.light .formRequest_content_form_inputs_item_input::placeholder,
.landing_page.light .blockForForm_content_inputs_item_input::placeholder,
.landing_page.light .adminPanel_layout_sidebar_menu_item:not(.active) span
{
    color: #1C1C1C70;
}
.landing_page.light .home_content_item_info_text {
    color: #1C1C1C;
}
.landing_page.light .footer_content_item_bottom_item.copyright {
    color: #1C1C1C25;
}
.landing_page.light .mobile_menu_item {
    background-color: #1C1C1C10;
    color: #1C1C1C;
}
.landing_page.light .baseModules_prev img,
.landing_page.light .baseModules_next img {
    filter: invert(100%);
}
.landing_page.light .baseModules_content_main_line.left {
    background: linear-gradient(to right, #1C1C1C00 15%, #1C1C1C50);
}
.landing_page.light .baseModules_content_main_line.right {
    background: linear-gradient(to left, #1C1C1C00 15%, #1C1C1C50);
}
.landing_page.light .structure_content_roles,
.landing_page.light .structure_content_tasks,
.landing_page.light .cardProgram
{
    background-color: #fcf2ee70;
}
.landing_page.light .structure_content_roles_arrows_item_text span.round {
    border: 1px solid #1C1C1C50;
}
.landing_page.light .structure_content_roles_arrows_item.top .structure_content_roles_arrows_item_arrow {
    background: linear-gradient(to right, #1C1C1C00, #1C1C1C);
}
.landing_page.light .structure_content_roles_arrows_item.bottom .structure_content_roles_arrows_item_arrow {
    background: linear-gradient(to left, #1C1C1C00, #1C1C1C);
}
.landing_page.light .structure_content_tasks_arrows_arrows_item.one {
    background: linear-gradient(to left, #fff0, #fff);
}
.landing_page.light .structure_content_tasks_arrows_arrows_item.two {
    background: linear-gradient(to right, #fff0, #fff);
}
.landing_page.light .structure_content_roles_arrows_item_arrow::before,
.landing_page.light .structure_content_roles_arrows_item_arrow::after,
.landing_page.light .structure_content_tasks_item_tasks_item::before,
.landing_page.light .structure_content_tasks_arrows_arrows_item::before,
.landing_page.light .structure_content_tasks_arrows_arrows_item::after
{
    background-color: #1C1C1C;
}
.landing_page.light .structure_content_roles_roles_item.message {
    border-left: 1px solid #1C1C1C40;
    border-right: 1px solid #1C1C1C40;
}
.landing_page.light .necessary_card.active .necessary_card_front {
    border-bottom: 1px solid #1C1C1C20;
}
.landing_page.light .necessary_card_back {
  border-top: 1px solid #1C1C1C20;
}
.landing_page.light .structure_content_tasks_arrows_arrows_item.one {
    background: linear-gradient(to left, #1C1C1C00, #1C1C1C);
}
.landing_page.light .structure_content_tasks_arrows_arrows_item.two {
    background: linear-gradient(to right, #1C1C1C00, #1C1C1C);
}
@media ( max-width: 1170px ) {
    .landing_page.light .structure_content_tasks_arrows_arrows_item.one {
        background: linear-gradient(to top, #1C1C1C00, #1C1C1C);
    }
    .landing_page.light .structure_content_tasks_arrows_arrows_item.two {
        background: linear-gradient(to bottom, #1C1C1C00, #1C1C1C);
    }
}
@media ( max-width: 1000px ) {
    .landing_page.light .structure_content_roles_arrows_item.top .structure_content_roles_arrows_item_arrow {
        background: linear-gradient(to bottom, #1C1C1C00, #1C1C1C);
    }
    .landing_page.light .structure_content_roles_arrows_item.bottom .structure_content_roles_arrows_item_arrow {
        background: linear-gradient(to top, #1C1C1C00, #1C1C1C);
    }
}
@media ( max-width: 670px ) {
    .landing_page.light .structure_content_roles_roles_item.message {
        border-left: none;
        border-right: none;
        border-top: 1px solid #1C1C1C40;
        border-bottom: 1px solid #1C1C1C40;
    }
}
.landing_page.light .header_content::before {
    background: linear-gradient(to right, #1C1C1C00, #1C1C1C50, #1C1C1C00);
}
.landing_page.light .formRequest_content_form {
    background-color: #fcf2ee80;
}
.landing_page.light .formRequest_content_form_inputs_item,
.landing_page.light .blockForForm_content_inputs_item
{
    border: 2px solid #1C1C1C20;
}
.landing_page.light .formRequest_content_form_btn.noactive button,
.landing_page.light .blockForForm_content_checks_button.noactive button
{
    background-color: #b9b9b9;
    border: 2px solid #b9b9b9;
}
.landing_page.light .formRequest_content_form_btn.noactive button:hover,
.landing_page.light .blockForForm_content_checks_button.noactive button:hover
{
    background-color: #aaaaaa;
    border: 2px solid #aaaaaa;
}
.landing_page.light .formRequest_content_form_btn.noactive button span,
.landing_page.light .blockForForm_content_checks_button.noactive button span
{
    color: #fff5;
}
.landing_page.light .formRequest_content_form_btn.active button span,
.landing_page.light .blockForForm_content_checks_button.active button span
{
    color: #fff;
}
.landing_page.light .formRequest_content_form_btn.active:hover button span,
.landing_page.light .blockForForm_content_checks_button.active:hover button span
{
    color: #1C1C1C;
}
.landing_page.light .formRequest_content_form_btn.active:hover button img,
.landing_page.light .blockForForm_content_checks_button.active:hover button img,
.landing_page.light .adminPanel_layout_sidebar_menu_item img,
.landing_page.light .adminPanel_layout_content_articles_header_btns_item.search img,
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button img,
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div_link img,
.landing_page.light .dropdown_icon_img,
.landing_page.light .dropdown_arrow_img,
.landing_page.light #adminPanel_layout_sidebar_hidden_btn img,
.landing_page.light .adminPanel_layout_content_articles_header_btn img,
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:not(.delete) img,
.landing_page.light .text-editor_toolbar_btn-image img,
.landing_page.light .text-image-choose:not(.image) img,
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_name_div_image.noImage img
{
    filter: invert(100%);
}
.landing_page.light .formRequest_content_form_inputs_item_error,
.landing_page.light .blockForForm_content_inputs_item_error
{
    background-color: #d1cfcf;
}
.landing_page.light .baseModules_content_titles_comment_line span {
    background-color: #1C1C1C50;
}
.landing_page.light .trust_content_line {
    background-color: #1C1C1C10;
}
.landing_page.light .trust_content_line_text_line {
    background-color: #1C1C1C30;
}
.landing_page.light .trust_content_line::before {
    background: linear-gradient(to right, #EDF5FF 30%, #EDF5FF00 100%);
}
.landing_page.light .trust_content_line::after {
    background: linear-gradient(to left, #EDF5FF 30%, #EDF5FF00 100%);
}
.landing_page.light .downloadClient_content_line {
    background: linear-gradient(to bottom, #1C1C1C00, #1C1C1C50, #1C1C1C00);
}
@media ( max-width: 980px ) {
    .landing_page.light .downloadClient_content_line.two {
        background: linear-gradient(to right, #1C1C1C00, #1C1C1C50, #1C1C1C00);
    }
}
@media ( max-width: 720px ) {
    .landing_page.light .downloadClient_content_line.one {
        background: linear-gradient(to right, #1C1C1C00, #1C1C1C50, #1C1C1C00);
    }
}
.landing_page.light .download_client_block_data_item_count,
.landing_page.light .specifications_item_value {
    background-color: #1C1C1C10;
    color: #1C1C1C;
}
.landing_page.light .whyDMTBase_content_cards_item {
    background-color: #D7D7E6;
}
.landing_page.light .adminPanelLoginForm_content_form_input input {
    background-color: #1C1C1C10;
}
@media ( hover: hover) {
    .landing_page.light .adminPanel_layout_sidebar_menu_item:hover {
        background-color: #48464515;
    }
}
@media ( hover: active) {
    .landing_page.light .adminPanel_layout_sidebar_menu_item:active {
        background-color: #48464515;
    }
}
.landing_page.light .adminPanel_layout_sidebar_menu_item.active {
    background-color: #48464515;
}
.landing_page.light .adminPanel_layout_content_home_brief_summary_item,
.landing_page.light .adminPanel_layout_content_home_static_graph,
.landing_page.light .adminPanel_layout_content_home_static_popular
{
    background-color: #D7D7E670;
}
.landing_page.light .adminPanel_layout_content_home_brief_summary_item_image_span.admin_views {
    background-color: #E5613128;
}
.landing_page.light .adminPanel_layout_content_home_brief_summary_item_image_span.admin_articles {
    background-color: #B7ACE035;
}
.landing_page.light .adminPanel_layout_content_home_brief_summary_item_image_span.admin_users {
    background-color: #5BACEA35;
}
.landing_page.light .adminPanel_layout_content_home_brief_summary_item_image_span.admin_times {
    background-color: #bfc7d345;
}

.landing_page.light .adminPanel_layout_content_home_static_graph_header_item.select,
.landing_page.light .views-chart-select
{
    border: 1px solid #1C1C1C50;
    color: #1C1C1C70;
}
.landing_page.light .adminPanel_layout_content_home_static_graph_header_item.select option,
.landing_page.light .views-chart-select option
{
    background-color: #D7D7E6;
    color: #1C1C1C80;
}
.landing_page.light .adminPanel_layout_content_home_static_popular_cards_item:hover {
    background-color: #1C1C1C07;
}
.landing_page.light .adminPanel_layout_content_home_static_popular_cards_item_number {
    background-color: #48464515;
}
.landing_page.light .adminPanel_layout_content_home_static_popular_cards_item:not(:last-child)::before {
    background: linear-gradient(to right, #1C1C1C00, #1C1C1C50, #1C1C1C00);
}
.landing_page.light .adminPanel_layout_content_articles_header_btns_item.search,
.landing_page.light .adminPanel_layout_content_articles_table,
.landing_page.light .adminPanel_layout_content_articles_table_checkbox_btn:not(.checked),
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button:not(.disabled),
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div_link,
.landing_page.light .adminPanel_layout_content_admins_table,
.landing_page.light .adminPanel_layout_content_articles_header_btn,
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:not(.delete)
{
    border: 1px solid #1C1C1C30;
}
.landing_page.light .adminPanel_layout_content_articles_header_btns_item.search input::placeholder {
    color: #1C1C1C30;
}
.landing_page.light .adminPanel_layout_content_articles_table_layout_thead,
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_thead
{
    background-color: #d7dbe0;
}
@media ( hover: hover ) {
    .landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button:not(.disabled):hover,
    .landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div_link:hover,
    .landing_page.light .adminPanel_layout_content_articles_header_btn:hover
    {
        background-color: #1C1C1C20;
    }
}
@media ( hover: active ) {
    .landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button:not(.disabled):active,
    .landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div_link:active,
    .landing_page.light .adminPanel_layout_content_articles_header_btn:active
    {
        background-color: #1C1C1C20;
    }
}
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_actions_div button.disabled {
    border: 1px solid #1C1C1C10;
}
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_tr:not(:last-child),
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr:not(:last-child)
{
    border-bottom: 1px solid #1C1C1C30;
}
.landing_page.light .dropdown_button {
    border: 1px solid #3335;
}
.landing_page.light .dropdown_button:hover {
    background-color: #e7eaee;
    border-color: #5555;
}
.landing_page.light .dropdown_button.active {
    background-color: #d4d6da;
    border-color: #6665;
}
.landing_page.light .dropdown_menu {
    background-color: #e7eaee;
    border: 1px solid #5553;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
}
.landing_page.light .dropdown-item:hover {
  background-color: #d4d6da;
}
.landing_page.light .modal,
.landing_page.light .editing
{
    background-color: #fff5;
}
.landing_page.light .modal_content,
.landing_page.light .editing_content
{
    background-color: #e9ecf0;
}
.landing_page.light .modal_btns_item.cancel,
.landing_page.light .editing_content_form_btns_item.cancel
{
    border: 1px solid #1C1C1C50;
    color: #1C1C1C50;
}
.landing_page.light .modal_btns_item.cancel:hover,
.landing_page.light .editing_content_form_btns_item.cancel:hover
{
    background-color: #1C1C1C10;
}
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_mark_div span {
    background-color: #1C1C1C20;
    color: #1C1C1C50;
}
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr .ad_col {
    color: #1C1C1C70;
}
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_password_div span {
    background-color: #1C1C1C30;
}
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr:hover .adminPanel_layout_content_admins_table_layout_table_tbody_tr_password_div span {
    background-color: #1C1C1C70;
}
@media ( hover: hover ) {
    .landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:not(.delete):hover {
        border: 1px solid #1C1C1C;
    }
    .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:hover img {
        opacity: 1;
    }
}
@media ( hover: active ) {
    .landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:not(.delete):active {
        border: 1px solid #1C1C1C;
    }
    .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_div button:active img {
        opacity: 1;
    }
}
.landing_page.light .editing_content_header {
    background-color: #dcdee0;
}
.landing_page.light .editing_content {
    border: 1px solid #c4c5c7;
}
.landing_page.light .editing_content_title {
    border-bottom: 1px solid #1C1C1C20;
}
.landing_page.light .editing_content_form input,
.landing_page.light .editing_content_form_input_div
{
    border: 1px solid #1C1C1C30;
    color: #1C1C1C;
}
.landing_page.light .editing_content_form_input label {
    color: #1C1C1C50;
    background-color: #e9ecf0;
}
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_online {
    color: #24b97e;
}
.landing_page.light .adminPanel_layout_content_admins_table_layout_table_tbody_tr_last_online:hover {
    color: #24b97e;
}
.landing_page.light .editing_content_form_btns_item.agree {
    color: #1C1C1C;
}
@media ( hover: hover ) {
    .landing_page.light .editing_content_form_btns_item.agree:hover {
        color: #fff;
    }
}
@media ( hover: active ) {
    .landing_page.light .editing_content_form_btns_item.agree:active {
        color: #fff;
    }
}
.landing_page.light .text-editor {
    border: 1px solid #1C1C1C20;
}
.landing_page.light .text-editor_toolbar button {
    background-color: #1C1C1C10;
    color: #1C1C1C;
}
.landing_page.light .text-editor_toolbar button:hover {
    background-color: #1C1C1C30;
}
.landing_page.light .text-editor_toolbar_divider {
    background: #1C1C1C30;
}
.landing_page.light .text-editor_content {
    color: #1C1C1C;
}
.landing_page.light .text-editor_content .public-DraftEditorPlaceholder-root {
    color: #1C1C1C70;
}
.landing_page.light .text-editor_footer {
    border-top: 1px solid #ccc3;
    background: #d7d7e670;
}
.landing_page.light .text-editor_footer_btn-cancel {
    background-color: transparent;
    border: 1px solid #1C1C1C50;
    color: #1C1C1C50;
}
.landing_page.light .text-editor_footer_btn-cancel:hover {
    background-color: #1C1C1C20;
}
.landing_page.light .editing_content_form_input input.empty {
    border: 1px solid #db4848;
}
.landing_page.light .editing_content_form_input label.empty,
.landing_page.light .editing_content_form_input input.empty::placeholder
{
   color: #db4848;
}
.landing_page.light .text-image-choose:not(.image) {
    border: 1px dashed #1C1C1C30;
}
.landing_page.light .text-image-choose:not(.image) span {
    color: #1C1C1C30;
}
.landing_page.light .text-image-choose:not(.image):hover {
    border: 1px dashed #1C1C1C60;
}
.landing_page.light .text-image-choose:not(.image):hover span {
    color: #1C1C1C60;
}
.landing_page.light .text-editor_split_textarea {
    background: #d6d6d6;
    color: #1C1C1C;
}
.landing_page.light .adminPanel_layout_content_articles_table_layout_tbody_col_name_div_image.noImage {
    background-color: #1C1C1C10;
}
.landing_page.light .contentArticle_content_article_content_time {
    border-bottom: 1px solid #a0a0a0;
}