.adminPanelEditor {
    width: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    padding: 20px;
    height: 100dvh;
    box-sizing: border-box;
}
.adminPanelEditor .container {
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.adminPanelEditor_content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.adminPanelEditor_content_header_title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 28px;
}
.adminPanelEditor_content_header_back {
    height: 50px;
    width: 130px;
    padding: 10px 15px 10px 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #E56131;
    cursor: pointer;
    font-size: 16px;
}
.adminPanelEditor_content_header_back:hover {
    color: #E5613180;
}
.adminPanelEditor_content_description {
    width: 100%;
    padding: 0 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    user-select: none;
}
.adminPanelEditor_content_editor {
    display: flex;
    gap: 20px;
    height: 100%;
}

@media ( min-width: 2001px ) {
    .adminPanelEditor .container {
        max-width: 1800px;
    }
    .adminPanelEditor_content_header_back {
        font-size: 22px;
    }
    .adminPanelEditor_content_editor {
        height: 100%;
    }
}
@media ( max-width: 2000px ) {
    .adminPanelEditor .container {
        max-width: 1600px;
    }
    .adminPanelEditor_content_editor {
        min-height: 500px;
    }
}
@media ( max-width: 1700px ) {
    .adminPanelEditor .container {
        max-width: 1200px;
    }
}
@media ( max-width: 1000px ) {
    .adminPanelEditor_content_editor {
        flex-direction: column-reverse;
    }
}
@media ( max-width: 550px ) {
    .adminPanelEditor_content_editor {
        min-height: 150px;
    }
}