.contentArticle {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    position: relative;
    margin-bottom: 50px;
}
.contentArticle_content_head {
    height: 50px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    margin-top: 40px;
}
#contentArticle_content_head_back {
    height: 50px;
    width: 130px;
    padding: 10px 15px 10px 5px;
    display: flex;
    justify-content: left;
    align-items: center;
    border: none;
    background-color: transparent;
    color: #E56131;
    cursor: pointer;
}

.contentArticle_content_article {
    padding: 50px;
    border-radius: 20px;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
}
.contentArticle_content_article_content_title {
    font-size: 30px;
}
.contentArticle_content_article_content_time {
    margin: 10px 0 40px;
}

.contentArticle_content_article_content_image {
    width: 100%;
    height: 450px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}
.contentArticle_content_article_content_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
}
.contentArticle_content_article_content_parags {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contentArticle_content_article_content_parags_item {
    text-align: justify;
}


.contentArticle_content_article_content_item {
    color: #fff;
}
.contentArticle_content_article_content_time {
    color: #fff5;
}

@media ( min-width: 1900px ) {
    .contentArticle_content_article_content_title {
        font-size: 48px;
    }
    .contentArticle_content_article_content_time,
    #contentArticle_content_head_back
    {
        font-size: 22px;
    }
    .contentArticle_content_article_content_parags_item {
        font-size: 24px;
    }
}
@media ( max-width: 800px ) {
    .contentArticle_content_article_content_image {
        height: 260px;
    }
    .contentArticle_content_article {
        padding: 35px;
    }
}
@media ( max-width: 550px ) {
    .contentArticle_content_article_content_image {
        height: 200px;
    }
    .contentArticle_content_article {
        padding: 25px;
    }
    .contentArticle_content_article_content_parags_item {
        font-size: 16px;
    }
}