.baseModules_content_slides_item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.baseModules_prev,
.baseModules_next {
    width: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all .4s ease;
}
.baseModules_prev img {
    transform: rotate(180deg);
}
.baseModules_prev img,
.baseModules_next img {
    height: 26px;
    opacity: .5;
    user-select: none;
}
.baseModules_prev.disabled,
.baseModules_next.disabled {
    opacity: .1;
    cursor: default;
}
.moduleSlide {
    width: 100%;
    height: 100%;
    padding: 0 25px;
    display: flex;
    gap: 50px;
    /* justify-content: center; */
    align-items: start;
    overflow: hidden;
}
.moduleSlide_image {
    width: 100%;
    max-width: 545px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    /* transform: translateX(-150%);
    opacity: 0; */
    transition: transform .4s ease .5s, opacity .4s ease .5s;
}
/* .moduleSlide_image.show {
    transform: translateX(0);
    opacity: 1;
} */
.moduleSlide_image {
    transform: translateX(0);
    opacity: 1;
}
.moduleSlide_image img {
    width: 100%;
    height: auto;
    pointer-events: none;
    border-radius: 23px;
    user-select: none;
}
.moduleSlide_info {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}
.moduleSlide_info {
    transform: translateX(0);
    opacity: 1;
}
.moduleSlide_info h2,
.moduleSlide_info p
{
    /* user-select: none; */
}
.moduleSlide_info_text:not(.mobile) {
    margin-top: 25px;
}
.moduleSlide_info_text.mobile:not(.visible) {
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 25px 0 5px;
    line-height: 1.3em;
    max-height: calc(1.3em * 5);
    transition: all .4s ease;
}
.moduleSlide_info_text.mobile.visible {
    -webkit-line-clamp: unset;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 25px 0 5px;
    line-height: 1.3em;
    max-height: 100%;
    transition: all .4s ease;
}
.moduleSlide_reveal_btn {
    display: flex;
    vertical-align: bottom;
    cursor: pointer;
    color: #E56131;
}
.moduleSlide_reveal_btn:hover {
    text-decoration: underline;
}
/* Стили для текста */
/* .moduleSlide_info p.text {
    display: -webkit-box;
    -webkit-line-clamp: 5;    
    -webkit-box-orient: vertical;
    overflow: hidden;
    
    max-height: 3.6em;          
    transition: max-height 0.4s ease-out, visibility 0.4s ease-out;
    line-height: 1.2;
    margin-bottom: 10px;
} */
/* Состояние "Раскрыто" */
/* .moduleSlide_info p.text.expanded {
    -webkit-line-clamp: unset;
    overflow: visible;
    max-height: 100vh;        
    visibility: visible;
} */
/* Кнопка "раскрыть/скрыть" */
/* .toggle-btn {
    background: none;
    border: none;
    color: #E56131;
    cursor: pointer;
    padding: 0;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin-top: 5px;
    display: inline-block;
}
.toggle-btn:hover {
    color: #ff7a4a;
    text-decoration: none;
} */

/* Адаптив для кнопки на мобильных */
@media (max-width: 767px) {
    .toggle-btn {
        font-size: 14px;
        color: #E56131;
    }
}
.moduleSlide_info h2 {
    font-size: 34px;
}
/* .swiper-pagination {
    bottom: 0px !important;
}
.swiper-pagination-bullet {
    width: 15px !important;
    height: 15px !important;
    background-color: #6C798F !important;
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    background-color: #E56131 !important;
}
.swiper-pagination {
    display: flex;
    justify-content: center;
    gap: 5px;
} */

@media ( min-width: 1900px ) {
    .moduleSlide_info h2 {
        font-size: 40px;
    }
    .moduleSlide_info p {
        font-size: 22px;
    }
}
@media ( max-width: 925px ) {
    .moduleSlide {
        padding: 0 20px;
        gap: 30px;
    }
    .moduleSlide_image {
        align-items: center;
    }
}
@media ( max-width: 880px ) {
    .moduleSlide {
        flex-direction: column;
        gap: 25px;
    }
    .moduleSlide_image {
        max-width: 100%;
        max-height: 300px;
    }
    .moduleSlide_image img {
        width: 100%;
        object-fit: cover;
    }
    .moduleSlide_info {
        height: max-content;
    }
}
@media ( max-width: 767px ) {
    .moduleSlide_info h2 {
        font-size: 26px;
    }
    .moduleSlide {
        padding: 0 10px;
    }
    .baseModules_prev,
    .baseModules_next {
        width: 20px;
    }
}