.header {
    display: flex;
    justify-content: center;
    position: fixed;
    left: 0; right: 0; top: 0;
    width: 100%;
    backdrop-filter: blur(25.3px);
    z-index: 100;
    height: 70px;
    transition: all .3s ease;
}
.header.open_menu {
    height: 100%;
}
.header_content {
    width: 100%;
    display: grid;
    padding: 10px 0;
    align-items: center;
}
#mobile_menu {
    width: 40px;
    height: 40px;
    border-radius: 7px;
    background-color: transparent;
    padding: 8px;
    border: none;
    cursor: pointer;
    user-select: none;
}
.header_content_logo {
    width: 130px;
    transform: translateY(-100px);
    opacity: 0;
    transition: transform .4s ease, opacity .4s ease;
    text-decoration: none;
}
.header_content_logo.show {
    transform: translateY(0);
    opacity: 1;
}
.header_content_logo img {
    width: 100%;
    height: auto;
}
.header_content_menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    transform: translateY(-100px);
    opacity: 0;
    transition: transform .4s ease 1s, opacity .4s ease 1s;
}
.header_content_menu.show {
    transform: translateY(0);
    opacity: 1;
}
.header_content_menu_item {
    letter-spacing: 3%;
    line-height: 90.3%;
    cursor: pointer;
    user-select: none;
    position: relative;
    text-decoration: none;
}
.header_content_menu_item::before {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #6d74ff, #5A61EB);
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: all .3s cubic-bezier(0.69, 0.73, 0, 0.98);
}
.header_content_menu_item:hover::before {
    width: 100%;
}
.header_content_btns {
    display: flex;
    align-items: center;
    gap: 15px;
    transform: translateY(0);
    transition: all .3s ease;
}
.header_content_btns {
    transform: translateY(-100px);
    opacity: 0;
    transition: transform .4s ease, opacity .4s ease;
}
.header_content_btns.show {
    transform: translateY(0);
    opacity: 1;
}
.header_content_btns.hidden {
    transform: translateY(-150%);
}
.header_content_btns_item {
    height: 49px;
    border-radius: 7px;
    overflow: hidden;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    text-decoration: none;
}
.header_content_btns_item.theme {
    width: 49px;
    border: none;
    background-color: transparent;
}
.header_content_btns_item.lang {
    width: 70px;
    border: 1px solid #5A61EB;
    background-color: transparent;
    text-transform: uppercase;
}
.header_content_btns_item.login {
    width: 98px;
    border: 1px solid #5A61EB;
    background: linear-gradient(135deg, #5A61EB, #5354E4);
    color: #fff;
}
.header_content_btns_item.theme img {
    height: 30px;
    width: auto;
}

.header .container {
    justify-content: left;
}

@media ( min-width: 1024px ) {
    #mobile_menu {
        display: none;
    }
}
@media ( min-width: 1440px ) {
    .header_content {
        grid-template-columns: 130px auto 250px;
    }
}

@media ( max-width: 1439px ) {
    .header_content {
        grid-template-columns: 130px auto 250px;
    }
}
@media ( max-width: 1023px ) {
    #mobile_menu {
        display: flex;
    }
    .header_content_menu {
        display: none;
    }
    .header_content {
        grid-template-columns: 40px auto 200px;
    }
    .header_content_logo {
        width: 100px;
    }
}
@media ( max-width: 767px ) {
}