.allArticlesContent {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
    position: relative;
    margin-bottom: 40px;
}
.allArticlesContent_content {
    display: flex;
    flex-direction: column;
}
.allArticlesContent_content_title {
    display: flex;
    gap: 10px;
    align-items: center;
    height: 40px;
    margin-bottom: 30px;
}
.allArticlesContent_content_title_item {
    text-decoration: none;
    transition: color .3s ease;
}
.allArticlesContent_content_title_item.home {
    padding: 10px 0;
}
.allArticlesContent_content_title_item.home:hover {
    color: #E56131;
}
.allArticlesContent_content_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}
.allArticlesContent_content_cards_item {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: left;
    border-radius: 35px;
    padding: 20px;
    gap: 20px;
}
.allArticlesContent_content_cards_item_image {
    overflow: hidden;
    width: 100%;
    height: 236px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.allArticlesContent_content_cards_item_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    pointer-events: none;
    transform: scale(1);
    transition: transform .7s ease;
}
.allArticlesContent_content_cards_item_texts_item {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.allArticlesContent_content_cards_item_texts .allArticlesContent_content_cards_item_texts_item:nth-child(1) {
    -webkit-line-clamp: 3;
}
.allArticlesContent_content_cards_item_btn {
    border: 1px solid transparent;
    border-radius: 15px;
    color: #E56131;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 20px;
    width: 100%;
    text-decoration: none;
    transition: border .3s ease;
    margin-top: auto;
    background-color: transparent;
    cursor: pointer;
}
@media (hover: hover) {
    .allArticlesContent_content_cards_item_btn:hover {
        border: 1px solid #E56131;
    }
}
@media (hover: active) {
    .allArticlesContent_content_cards_item_btn:active {
        border: 1px solid #E56131;
    }
}

@media ( min-width: 1900px ) {
    .allArticlesContent_content_cards_item_title
    {
        font-size: 22px;
    }
}
@media ( max-width: 1100px ) {
    .allArticlesContent_content_cards {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media ( max-width: 670px ) {
    .allArticlesContent_content_title_item {
        font-size: 20px;
    }
    .allArticlesContent_content_cards {
        grid-template-columns: 1fr;
    }
    .allArticlesContent_content_cards_item_image {
        grid-area: cardImage;
        height: 100%;
        width: 100px;
    }
    .allArticlesContent_content_cards_item_time {
        grid-area: cardTime;
        margin-left: 10px;
        font-size: 12px;
    }
    .allArticlesContent_content_cards_item_title {
        grid-area: cardTitle;
        margin-left: 10px;
    }
    .allArticlesContent_content_cards_item_texts {
        grid-area: cardTexts;
    }
    .allArticlesContent_content_cards_item_btn {
        grid-area: cardBtn;
    }
    .allArticlesContent_content_cards_item {
        padding: 15px;
        display: grid;
        grid-template-columns: 100px 1fr;
        grid-template-areas: 
            "cardImage cardTitle"
            "cardImage cardTime"
            "cardImage cardTexts"
            "cardImage cardBtn"
        ;
        gap: 5px;
    }
    .allArticlesContent_content_cards_item_texts_item {
        font-size: 14px;
        margin-left: 10px;
    }
}