.news {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 80px;
    position: relative;
    margin-bottom: 50px;
}
.news_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* gap: 40px; */
}
.news_content_title {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    /* transform: translateY(100px);
    opacity: 0; */
    transition: transform .4s ease .2s, opacity .4s ease .2s;
}
/* .news_content_title.show {
    transform: translateY(0);
    opacity: 1;
} */
.news_content_title {
    transform: translateY(0);
    opacity: 1;
}
.news_content_cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 40px 0 10px;
}

.news_content_btn {
    display: flex;
    justify-content: right;
}
.news_content_btn .news_content_btn_link {
    padding: 10px 5px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    cursor: pointer;
    position: relative;
    text-decoration: none;
}
.news_content_btn .news_content_btn_link::after {
    content: '';
    position: absolute;
    bottom: 3px;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #F8855B, #E56131);
    width: 0;
    height: 2px;
    border-radius: 2px;
    transition: all .3s cubic-bezier(0.69, 0.73, 0, 0.98);
}
.news_content_btn .news_content_btn_link:hover::after {
    width: 100%;
}

@media ( min-width: 1900px ) {
    .news_content_title {
        font-size: 28px;
    }
}
@media ( max-width: 1050px ) {
    .news_content_cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .news_content_cards_item:nth-child(3) {
        grid-column: 1 / -1;
    }
}
@media ( max-width: 767px ) {
    .news_content_cards {
        grid-template-columns: 1fr;
    }
    .news_content_cards_item:nth-child(3) {
        grid-column: auto;
    }
}